// CONTAINERS & BOXES
$background: black;
$containerBackground: #161616;
$containerBorder: #252525;

// TEXT
$textLightGray: #bbbbbb;
$fonts: 'Roboto Mono', monospace;

// INPUTS
$inputBackground: #e2e2e2;
$inputBorder: #b6b6b6;
$placeholderGray: #999999;

// BUTTONS
$buttonBackground: #7e7e7e;
$buttonText: white;
$buttonHover: #5e5e5e;
$selectorButtonBackground: #f3f3f3;
$selectorButtonHover: #ebebeb;
$errorButtonHover: #b40000;

// NOTIFICATIONS
$errorDarkRed: #cc0000;
$errorLightRed: #ffe3e3;
$successDarkGreen: #058f00;
$successLightGreen: #e3ffe3;
