@use "./variables";

.headerContainer {
	display: flex;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	justify-content: space-between;
	align-items: center;
	background-color: variables.$containerBorder;

	.headerLogoBox {
		display: flex;
		align-items: center;
		margin: 0.7rem 0rem 0.7rem 4rem;

		.headerLogo {
			width: 10rem;
		}

		@media screen and (max-width: 750px) {
			margin: 0.5rem 0rem 0.5rem 1rem;
			.headerLogo {
				width: 8rem;
			}
		}
	}

	.navLinks {
		display: flex;
		align-items: center;
		margin: 1rem 3rem 1rem auto;
		padding: 0;
	
		a {
			cursor: pointer;
			text-decoration: none;
			padding: 0.8rem;
			color: #dbc4fe;
			font-family: variables.$fonts;
			font-size: 1.1rem;
			background-color: transparent;
			transition: all 0.1s ease-out;
			&:hover {
				color: white;
			}
		}
	
		@media screen and (max-width: 750px) {
			display: none;
		}
	}

	.getStartedLink {
		display: flex;
		align-items: center;
		justify-content:flex-end;
		margin: 0.7rem 4rem 0.7rem 0rem;
		padding: 0;

		a {
			cursor: pointer;
			text-decoration: none;
			padding: 0.8rem;
			color: white;
			font-family: variables.$fonts;
			font-size: 1.2rem;
			background-color: #2f0075;
			border-radius: 0.3rem;
			transition: all 0.1s ease-out;
			&:hover {
				background-color: #781dff;
			}
		}

		@media screen and (max-width: 750px) {
			margin: 0.5rem 1rem 0.5rem 0rem;

			a {
				font-size: 1rem;
				padding: 0.6rem;
			}
		}
	}
}

.aboutContainer {
	padding: 2rem;
	display: block;
	background-color: variables.$toolbarBackground;
	border-radius: 0.5rem;
	margin: 8rem 4rem 3rem 4rem;

	@media screen and (max-width: 750px) {
		padding: 1rem;
		margin: 4.5rem 1rem;
	}

	h2 {
		font-family: variables.$fonts;
		font-size: 1.4rem;
		color: variables.$textLightGray;
		margin: 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	@media screen and (max-width: 750px) {
		h2 {
			font-size: 1.2rem;
		}
	}

	h3 {
		font-family: variables.$fonts;
		font-size: 1.2rem;
		color: variables.$textLightGray;
		padding-bottom: 1rem;
		margin: 1.7rem 0 0 0;
	}
	@media screen and (max-width: 750px) {
		h3 {
			font-size: 1.1rem;
		}
	}
	p {
		font-size: 1rem;
		line-height: 1.8rem;
		color: white;
		font-family: variables.$fonts;
		margin: 0.3rem 0 0 0;
	}
	@media screen and (max-width: 750px) {
		p {
			font-size: 0.9rem;
		}
	}

	.imagesCaptions {
		font-size: 1.15rem;
		font-weight: 500;
		color: #9068cc;
		padding-bottom: 0.5rem;
		margin: 1.7rem 0 0 0;

		@media screen and (max-width: 750px) {
			h3 {
				font-size: 1.05rem;
			}
		}
	}

	.bigImageContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 0.6rem 0rem;

		img {
			width: 100%;
			border: 2px solid variables.$disabledButton;
			border-radius: 0.3rem;
			padding: 0;
			margin: 0;
		}
		@media screen and (max-width: 750px) {
			img {
				border: 1px solid variables.$disabledButton;
			}
		}
	}

	.smallImagesContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		margin: 0.6rem 0rem;

		img {
			width: 32%;
			border: 1px solid variables.$disabledButton;
			border-radius: 0.3rem;
			padding: 0;
			margin: 0;
		}
		@media screen and (max-width: 750px) {
			flex-direction: column;
			img {
				border: 1px solid variables.$disabledButton;
				width: 100%;
				margin-top: 1rem;
			}
		}
	}
}

.newsContainer {
	padding: 2rem;
	display: block;
	background-color: variables.$toolbarBackground;
	border-radius: 0.5rem;
	border: 1px solid variables.$attention;
	margin: 4rem;

	@media screen and (max-width: 750px) {
		padding: 1rem;
		margin: 4.5rem 1rem;
	}

	h2 {
		font-family: variables.$fonts;
		font-size: 1.4rem;
		color: variables.$textLightGray;
		margin: 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	@media screen and (max-width: 750px) {
		h2 {
			font-size: 1.2rem;
		}
	}

	h3 {
		font-family: variables.$fonts;
		font-size: 1.2rem;
		color: variables.$textLightGray;
		padding-bottom: 1rem;
		margin: 1.7rem 0 0 0;
	}

	@media screen and (max-width: 750px) {
		h3 {
			font-size: 1.05rem;
		}
	}

	p {
		font-size: 1rem;
		line-height: 1.8rem;
		color: white;
		font-family: variables.$fonts;
		margin: 0.3rem 0 0 0;
	}

	span {
		color: variables.$attention;
	}

	@media screen and (max-width: 750px) {
		p {
			font-size: 0.9rem;
		}
	}

	.newsDivider {
		margin: 2rem 0rem;
		border-top: 1px;
	}
}

footer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: variables.$toolbarBackground;

	.contactsBox {
		padding: 0.2rem 2rem 0.1rem 2rem;
		p {
			font-size: 0.8rem;
			color: variables.$textLightGray;
			font-family: variables.$fonts;
		}
		@media screen and (max-width: 750px) {
			padding: 0.1rem 2rem 0.1rem 2rem;
			p {
				font-size: 0.75rem;
			}
		}
	}

}