@use './variables';

.headerContainer {
	display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
	background-color: variables.$containerBorder;

	.headerLogoBox {
		display: flex;
		align-items: center;
		margin: 1rem 0rem 1rem 4rem;

		.headerLogo {
			width: 10rem;
		}
		@media screen and (max-width: 750px) {
			margin: 1.5rem;
			.headerLogo {
				width: 8rem;
			}
		}
	}

	.getStartedLink {
		display: flex;
		align-items: center;
		margin: 1rem 4rem 1rem 0rem;
		padding: 0;
	
		a {
			cursor: pointer;
			text-decoration: none;
			padding: 0.8rem;
			color: white;
			font-family: variables.$fonts;
			font-size: 1.2rem;
			background-color: #2f0075;
			border-radius: 0.3rem;
			transition: all 0.1s ease-out;
			  &:hover {
				background-color: #781dff;
			  }
		}
		@media screen and (max-width: 750px) {
			margin: 1.5rem;

			a {
				font-size: 1rem;
				padding: 0.6rem;
			}
		}
	}
}

  
.aboutContainer {
	padding: 2rem;
	display: block;
	background-color: variables.$navbarBackground;
	border-radius: 0.5rem;
	border: 1px solid variables.$navbarBorder;
	margin: 8rem 3rem;

	@media screen and (max-width: 750px) {
		padding: 1.5rem;
		margin: 7rem 1.5rem;
	}

  	h2 {
		font-family: variables.$fonts;
		font-size: 1.4rem;
		color: variables.$textLightGray;
		margin: 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
  	}
	@media screen and (max-width: 750px) {
		h2 {
			font-size: 1.2rem;
		}
	}

	h3 {
		font-family: variables.$fonts;
		font-size: 1.2rem;
		color: variables.$textLightGray;
		padding-bottom: 1rem;
		margin: 1.7rem 0 0 0;
  	}
	@media screen and (max-width: 750px) {
		h3 {
			font-size: 1.05rem;
		}
	}
	p {
		font-size: 1rem;
		line-height: 1.8rem;
		color: white;
		font-family: variables.$fonts;
		margin: 0.3rem 0 0 0;
  	}
	@media screen and (max-width: 750px) {
		p {
			font-size: .9rem;
		}
	}

	.imagesCaptions {
		font-size: 1.1rem;
		color: #9068cc;
		padding-bottom: 0.5rem;
		margin: 1.7rem 0 0 0;

		@media screen and (max-width: 750px) {
			h3 {
				font-size: 1rem;
			}
		}
	}
	

	.bigImageContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 0.6rem 0rem;

		img {
			width: 100%;
			border: 3px solid variables.$disabledButton;
			border-radius: 0.3rem;
			padding: 0;
			margin: 0;
		}
		@media screen and (max-width: 750px) {
			img {
				border: 2px solid variables.$disabledButton;
			}
		}
	}

	.smallImagesContainer {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		padding: 0;
		margin: 0.6rem 0rem;
	
		img {
			width: 48%;
			border: 3px solid variables.$disabledButton;
			border-radius: 0.3rem;
			padding: 0;
			margin: 0;
		}
		@media screen and (max-width: 750px) {
			img {
				border: 2px solid variables.$disabledButton;
			}
		}
	}
}



