@use "./variables";

.noticeContainer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 999;

	p {
		display: block;
		font-family: variables.$fonts;
		font-size: 0.7rem;
		text-align: center;
		color: variables.$textLight;
		font-weight: 200;
		margin: 0;
	}

	.offlineNotification {
		display: block;
		background-color: variables.$errorDarkRed;
		padding: 0.2rem;
		animation: showMe 0.2s normal;
	}

	@keyframes showMe {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
