@use './variables';

.relationsContainer {
	display: flex;
	flex-wrap: wrap;
	background-color: transparent;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 2rem;
	gap: 2rem;

	.relationsBox {
		padding: 1rem;
		display: block;
		background-color: variables.$toolbarBackground;
		border: 1px solid variables.$disabledButton;
		border-radius: 0.5rem;
		margin: 0;
		width: fit-content;

		h3 {
			font-family: variables.$fonts;
			font-size: 1.1rem;
			color: variables.$textLightGray;
			margin: 0;
			padding: 0;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		.relationContainer {
			display: flex;
			justify-content: flex-start;
			align-content: center;
			margin: 0;
			padding: 0.5rem 0 0 0;
			list-style: none;
			text-decoration: none;

			p {
				font-size: 1rem;
				color: variables.$textLightGray;
				font-family: variables.$fonts;
				margin: 0;
			}

			svg {
				margin-right: 0.3rem;
				fill: variables.$containerBorder;
				font-size: 1.1rem;
				font-weight: 700;
				align-self: center;
			}
		}
	}
}