@use "./variables";

.settingsContainer {
	background-color: transparent;
	margin: 0;
	padding: 2rem;
	overflow: auto;

	.settingsBox {
		padding: 2rem;
		display: block;
		background-color: variables.$toolbarBackground;
		border: 1px solid variables.$containerBorder;
		border-radius: 0.5rem;
		margin: 0;

		h2 {
			font-family: variables.$fonts;
			font-size: 1.5rem;
			color: variables.$textLightGray;
			margin-top: 0;
			margin-bottom: 1rem;
			margin-left: 1rem;
		}

		.settingsGrid {
			display: grid;
			grid-template-columns: 25% 75%;
			column-gap: 1rem;

			.buttonsBox {
				display: block;
				grid-column: 1;

				.labelBox {
					align-items: center;
					margin-top: 0.5rem;
					margin-bottom: 1rem;
					width: 100%;
					cursor: pointer;

					button {
						display: flex;
						position: relative;
						justify-content: space-between;
						align-items: center;
						border-radius: 0.5rem;
						border: none;
						padding: 1rem;
						margin: 0;
						width: 100%;
						cursor: pointer;
						background-color: variables.$selectorButtonBackground;
						transition: all 0.1s ease-out;
						&:hover {
							background-color: variables.$selectorButtonHover;
						}

						label {
							font-family: variables.$fonts;
							font-size: 1.1rem;
							color: variables.$textLightGray;
							text-align: left;
							border: none;
							background-color: transparent;
							cursor: pointer;
						}
						.delete {
							color: variables.$errorDarkRed;
						}

						svg {
							margin-right: 0.3rem;
							fill: variables.$textLightGray;
							font-size: 1.1rem;
							font-weight: 700;
						}
					}
				}
			}

			.userBox {
				background-color: variables.$containerBackground;
				border-radius: 0.5rem;
				border: 1px solid variables.$toolbarBorder;
				padding: 1.5rem;
				margin: 0rem 1rem 0rem 0rem;
				grid-column: 2;
				grid-row: 2/1;

				h3 {
					font-family: variables.$fonts;
					font-size: 1.2rem;
					margin: 0rem 0rem 0rem 0.3rem;
					color: variables.$textLightGray;
					text-align: left;
				}
				.delete {
					color: variables.$errorDarkRed;
				}

				label {
					display: block;
					font-family: variables.$fonts;
					font-size: 1rem;
					color: variables.$textLightGray;
					margin: 1.5rem 0rem 0rem 0.3rem;
				}

				input {
					display: block;
					width: 16rem;
					margin: 0.5rem 0 0.3rem 0rem;
					border: 0;
					font-size: 1rem;
					font-family: variables.$fonts;
					padding: 0.5rem;
					background-color: variables.$inputBackground;
					border-radius: 0.5rem;
					outline: 0;
				}

				button {
					margin-top: 1.5rem;
					width: 10rem;
					height: 2.5rem;
					border-radius: 1.2rem;
					text-align: center;
					padding: 0.5rem 1rem;
					background-color: variables.$buttonBackground;
					color: variables.$buttonText;
					font-size: 1rem;
					border: none;
					outline: 0;
					cursor: pointer;
					transition: all 0.1s ease-out;
					&:hover {
						background-color: variables.$buttonHover;
					}
				}

				p {
					font-family: variables.$fonts;
					font-size: 1rem;
					color: variables.$textLightGray;
					margin: 0;
				}

				.validationError {
					border: 1px solid variables.$errorDarkRed;
				}

				.validationErrorMessage {
					font-family: variables.$fonts;
					color: variables.$errorDarkRed;
					font-size: 0.9rem;
					margin: 0rem 0rem 0rem 0.2rem;
				}

				.submitButtonBox {
					display: flex;
					align-items: center;

					.loadingSpinnerContainer {
						margin: 1.5rem 0.5rem 0 0.5rem;
						padding: 0rem;
					}
				}
				.deleteButton {
					background-color: variables.$deleteButton;
					&:hover {
						background-color: variables.$errorDarkRed;
					}
				}

				.disabledButton {
					background-color: variables.$disabledButton;
					transition: all 0.1s ease-out;
					cursor: default;
					&:hover {
						background-color: variables.$disabledButton;
					}
				}

				.loadingSpinnerButtonContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0;
					padding: 0rem;
				}

				.deleteModalBox {
					background-color: variables.$containerBackground;
					border-radius: 0.5rem;
					border: 2px solid variables.$errorDarkRed;
					padding: 1rem;
					margin: 0;

					h4 {
						font-family: variables.$fonts;
						font-size: 1.2rem;
						margin: 0;
						padding: 0.5rem;
						color: variables.$textLightGray;
						text-align: left;
					}

					p {
						font-family: variables.$fonts;
						font-size: 1rem;
						margin: 0;
						padding: 0.5rem;
						color: variables.$textLightGray;
						text-align: left;
					}

					.buttonsContainer {
						display: flex;
						justify-content: center;
						align-items: center;

						.cancelButton {
							margin: 1.5rem 1rem 1rem 1rem;
							width: auto;
							border-radius: 1.2rem;
							text-align: center;
							padding: 0.5rem 1rem;
							background-color: variables.$navbarBorder;
							color: variables.$buttonText;
							font-size: 1rem;
							border: none;
							outline: 0;
							cursor: pointer;
							transition: all 0.1s ease-out;
							&:hover {
								background-color: variables.$toolbarBorder;
							}
						}

						.deleteButton {
							margin: 1.5rem 1rem 1rem 1rem;
							width: 8rem;
							border-radius: 1.2rem;
							text-align: center;
							padding: 0.5rem 1rem;
							background-color: variables.$deleteButton;
							color: variables.$buttonText;
							font-size: 1rem;
							border: none;
							outline: 0;
							cursor: pointer;
							transition: all 0.1s ease-out;
							&:hover {
								background-color: variables.$errorDarkRed;
							}
						}
					}
				}
			}
		}

		@media screen and (max-width: 750px) {
			.settingsGrid {
				display: block;

				.userBox {
					margin: 0;
				}

				.buttonsBox {
					display: block;
				}
			}
		}
	}
}
