@use './variables';

.toolbarBox {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: variables.$toolbarBackground;
	border-bottom: 1px solid variables.$toolbarBorder;

	.toolsMenu {
		height: 100%;

		ul {
			display: flex;
			margin: 0.7rem;
			list-style-type: none;
		}
		li {
			text-decoration: none;
			margin-right: 2rem;
			padding: 0;
		}
		input {
			font-size: 0.9rem;
			color: variables.$textLightGray;
			font-family: variables.$fonts;
			background-color: variables.$inputDarkBackground;
			border: 1px solid variables.$inputDarkBorder;
			height: 1.8rem;
			border-radius: 0.3rem;
			padding: 0.2rem 0.5rem;
			outline: 0;
			&:active, &:focus, &:hover {
				border: 1px solid variables.$textLightGray;
			}
		}
		
		button {
			cursor: pointer;
			background-color: variables.$inputDarkBackground;
			border-radius: 0.3rem;
			padding: 0.2rem 0.5rem;
			height: 1.8rem;
			border: 1px solid variables.$inputDarkBorder;
			text-decoration: none;
			color: variables.$textLightGray;
			font-family: variables.$fonts;
			font-size: 0.9rem;
			transition: all 0.1s ease-out;
			&:active, &:focus, &:hover {
				color: variables.$buttonText;
				border: 1px solid variables.$textLightGray;
		  	}
		}

		.activeButton{
			color: variables.$buttonText;
			border: 1px solid variables.$textLightGray;
		}

		.disabledButton{
			cursor: default;
			color: variables.$disabledButton;

			&:active, &:focus, &:hover {
				color: variables.$disabledButton;
				border: 1px solid variables.$inputDarkBorder;
		  	}
		}
  	}
}
